In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("../data/raw/dht11_new.csv")  # Replace "your_data.csv" with the actual file name

In [2]:
# Drop the 'id' column from the dataset
df = df.drop(columns=['id'])

# Verify that the column has been dropped
df.head()

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,datatime,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
0,32.3,53.0,148.0,1.0,192.0,0.0,141.0,2024-04-06 22:39:11,1.0,205.0,1.0,242.28,186.67
1,32.3,53.0,148.0,1.0,184.0,0.0,141.0,2024-04-06 22:39:18,1.0,205.0,1.0,233.98,189.99
2,32.3,53.0,148.0,1.0,189.0,0.0,141.0,2024-04-06 22:39:24,1.0,205.0,1.0,246.43,212.40
3,32.3,53.0,147.0,1.0,189.0,0.0,141.0,2024-04-06 22:39:31,1.0,205.0,1.0,234.81,183.35
4,32.3,53.0,147.0,1.0,184.0,0.0,141.0,2024-04-06 22:39:38,1.0,205.0,1.0,237.30,221.53

In [3]:
# Ensure 'datatime' is in datetime format
df['datatime'] = pd.to_datetime(df['datatime'])

# Set 'datatime' as the index, ensuring it's treated as a DatetimeIndex
df.set_index('datatime', inplace=True)

# Resample data by minute and calculate the mean for each minute
# You can change 'mean' to other aggregation methods (e.g., 'sum', 'max', etc.)
df_resampled = df.resample('T').mean()

# Remove rows with NaN values (no data for that minute)
df_resampled.dropna(inplace=True)

# Reset seconds to zero in the time index
df_resampled.index = df_resampled.index.floor('T')

# Reset the index (if you want 'datatime' to be a column again)
df_resampled.reset_index(inplace=True)

# Remove the index (set it to a default integer index)
df_resampled.reset_index(drop=True, inplace=True)

# Display the first few rows to check the result
df_resampled.head()

C:\Users\shiva\AppData\Local\Temp\ipykernel_46248\809408178.py:9: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_resampled = df.resample('T').mean()
C:\Users\shiva\AppData\Local\Temp\ipykernel_46248\809408178.py:15: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_resampled.index = df_resampled.index.floor('T')

,datatime,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
0,2024-04-06 22:39:00,32.3,53.0,147.750000,1.0,187.625000,0.0,141.125000,1.0,205.125000,1.0,240.827500,247.057500
1,2024-04-06 22:40:00,32.3,53.0,147.777778,1.0,187.444444,0.0,142.000000,1.0,205.111111,1.0,241.173333,194.508889
2,2024-04-06 22:41:00,32.3,53.0,148.000000,1.0,188.375000,0.0,142.000000,1.0,205.250000,1.0,236.781250,209.391250
3,2024-04-06 22:42:00,32.3,53.0,147.555556,1.0,187.333333,0.0,141.111111,1.0,204.000000,1.0,241.542222,209.725556
4,2024-04-06 22:43:00,32.3,53.0,147.111111,1.0,186.777778,0.0,140.555556,1.0,203.000000,1.0,239.328889,198.197778

In [4]:
# Find the total number of unique values for each column
unique_values = df_resampled.nunique()

# Display the result
print(unique_values)

datatime         6901
temperature       390
humidity          340
mq2_analog       1134
mq2_digital        11
sound_analog     1223
sound_digital      18
mq9_analog       1704
mq9_digital        20
mq8_analog       1525
mq8_digital        13
pm25_density     2799
pm10_density     3159
dtype: int64

In [5]:
# Check for null values in the dataset
null_values = df_resampled.isnull().sum()

# Print the number of null values per column
print("Null values per column:\n", null_values)

Null values per column:
 datatime         0
temperature      0
humidity         0
mq2_analog       0
mq2_digital      0
sound_analog     0
sound_digital    0
mq9_analog       0
mq9_digital      0
mq8_analog       0
mq8_digital      0
pm25_density     0
pm10_density     0
dtype: int64

In [6]:
df.count()

temperature      62000
humidity         62000
mq2_analog       61998
mq2_digital      61993
sound_analog     61997
sound_digital    61997
mq9_analog       61994
mq9_digital      61996
mq8_analog       61998
mq8_digital      61996
pm25_density     61997
pm10_density     61997
dtype: int64

In [7]:
# Find the total number of unique values for each column
unique_values = df.nunique()

# Display the result
print(unique_values)

temperature      116
humidity          58
mq2_analog       413
mq2_digital        2
sound_analog     385
sound_digital      2
mq9_analog       393
mq9_digital        2
mq8_analog       513
mq8_digital        2
pm25_density     537
pm10_density     542
dtype: int64

In [8]:
# Count the number of duplicate rows based on 'datatime' column
duplicate_datetime_count = df_resampled[df_resampled.duplicated(subset=['datatime'], keep=False)]

# Display the number of duplicate rows
print(f"Number of duplicate rows based on 'datatime': {len(duplicate_datetime_count)}")

# Display the first few duplicate rows for review
duplicate_datetime_count.head()

Number of duplicate rows based on 'datatime': 0

Empty DataFrame
Columns: [datatime, temperature, humidity, mq2_analog, mq2_digital, sound_analog, sound_digital, mq9_analog, mq9_digital, mq8_analog, mq8_digital, pm25_density, pm10_density]
Index: []

In [9]:
duplicate_datetime_count['datatime'].nunique()

0

In [10]:

# mean for all columns except 'datatime'
min_values = df_resampled.min()
max_values = df_resampled.max()
mean_values = df_resampled.drop(columns=['datatime']).mean()

# Combine the results into a single DataFrame
summary_stats = pd.DataFrame({
    'Min': min_values,
    'Max': max_values,
    'Mean': mean_values
})

print(summary_stats)

                               Min                  Max        Mean
datatime       2024-04-06 22:39:00  2024-11-23 13:45:00         NaN
humidity                       0.0                 83.0   45.583090
mq2_analog                     0.0          1016.714286   51.389580
mq2_digital                    0.0                  1.0    0.985998
mq8_analog                     0.0          1021.857143  117.157643
mq8_digital                    0.0                  1.0    0.977472
mq9_analog                     7.5                524.2  193.612331
mq9_digital                    0.0                  1.0    0.943463
pm10_density                  -0.1           575.332222  185.548275
pm25_density                  -0.1           804.891111  230.747116
sound_analog                   0.0           760.142857  135.410532
sound_digital                  0.0                  1.0    0.095482
temperature                    0.0                 40.6   30.369182

In [11]:
# Drop 'datatime' and 'digital' columns (to avoid them in the count)
df_without_datatime_digital = df_resampled.drop(columns=['datatime', 'mq2_digital', 'mq9_digital', 'mq8_digital','sound_digital'])

# Count the number of records with value 0 for each parameter
zero_count = (df_without_datatime_digital == 0).sum()

# Display the result
print("Number of records with value 0 for each parameter:\n", zero_count)

Number of records with value 0 for each parameter:
 temperature     279
humidity        279
mq2_analog      155
sound_analog     10
mq9_analog        0
mq8_analog        2
pm25_density      0
pm10_density      0
dtype: int64

In [12]:
# Filter rows where temperature is 0
temp_zero_rows = df_resampled[(df_resampled['temperature'] == 0) & (df_resampled['humidity']==0)]

# Display the filtered rows
temp_zero_rows

,datatime,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
175,2024-04-19 12:42:00,0.0,0.0,138.222222,1.0,158.666667,0.0,133.666667,1.0,157.000000,1.0,166.376667,198.105556
176,2024-04-19 12:43:00,0.0,0.0,117.000000,1.0,86.000000,0.0,133.000000,1.0,154.000000,1.0,175.880000,194.970000
177,2024-04-19 13:24:00,0.0,0.0,107.111111,1.0,98.555556,0.0,200.222222,1.0,185.333333,1.0,121.550000,186.762222
178,2024-04-19 13:25:00,0.0,0.0,135.000000,1.0,117.111111,0.0,222.444444,1.0,208.222222,1.0,148.573333,186.485556
179,2024-04-19 13:26:00,0.0,0.0,132.000000,1.0,116.444444,0.0,221.333333,1.0,189.333333,1.0,144.701111,185.932222
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5005,2024-11-15 22:45:00,0.0,0.0,35.444444,1.0,134.000000,0.0,171.888889,1.0,88.555556,1.0,206.313333,166.194444
5006,2024-11-15 22:46:00,0.0,0.0,34.111111,1.0,133.444444,0.0,172.222222,1.0,88.222222,1.0,212.584444,165.181111
5007,2024-11-15 22:47:00,0.0,0.0,33.888889,1.0,133.444444,0.0,172.222222,1.0,88.333333,1.0,204.376667,154.661111
5008,2024-11-15 22:48:00,0.0,0.0,28.375000,1.0,122.750000,0.0,181.500000,1.0,89.750000,1.0,211.362500,169.027500
5009,2024-11-15 22:49:00,0.0,0.0,21.000000,1.0,132.666667,0.0,189.000000,1.0,90.000000,1.0,207.696667,159.826667

In [13]:
# Filter rows where temperature is 0
temp_zero_rows = df_resampled[(df_resampled['temperature'] == 0) & (df_resampled['humidity']==0) & (df_resampled['mq2_analog']==0)]

# Display the filtered rows
temp_zero_rows

Empty DataFrame
Columns: [datatime, temperature, humidity, mq2_analog, mq2_digital, sound_analog, sound_digital, mq9_analog, mq9_digital, mq8_analog, mq8_digital, pm25_density, pm10_density]
Index: []

In [14]:
# Filter rows where temperature is 0
temp_zero_rows = df_resampled[(df_resampled['mq9_analog']==0) & (df_resampled['mq8_analog']==0)]

# Display the filtered rows
temp_zero_rows

Empty DataFrame
Columns: [datatime, temperature, humidity, mq2_analog, mq2_digital, sound_analog, sound_digital, mq9_analog, mq9_digital, mq8_analog, mq8_digital, pm25_density, pm10_density]
Index: []

In [15]:
# Find number of missing values for each column
missing_values = df.isnull().sum()

# Display the result
print(missing_values)

temperature      0
humidity         0
mq2_analog       2
mq2_digital      7
sound_analog     3
sound_digital    3
mq9_analog       6
mq9_digital      4
mq8_analog       2
mq8_digital      4
pm25_density     3
pm10_density     3
dtype: int64

In [16]:
# Check the data type of the column
print(df_resampled['datatime'].dtype)

# Display the first few rows of the column
print(df_resampled['datatime'].head())

datetime64[ns]
0   2024-04-06 22:39:00
1   2024-04-06 22:40:00
2   2024-04-06 22:41:00
3   2024-04-06 22:42:00
4   2024-04-06 22:43:00
Name: datatime, dtype: datetime64[ns]

In [17]:
# Convert the column to datetime
df_resampled['datatime'] = pd.to_datetime(df_resampled['datatime'], errors='coerce')

# Check for rows where the conversion failed
invalid_datetimes = df_resampled[df_resampled['datatime'].isnull()]
print(invalid_datetimes)

Empty DataFrame
Columns: [datatime, temperature, humidity, mq2_analog, mq2_digital, sound_analog, sound_digital, mq9_analog, mq9_digital, mq8_analog, mq8_digital, pm25_density, pm10_density]
Index: []

In [18]:
print(df_resampled['datatime'].dtype)

datetime64[ns]

In [19]:
df_resampled.fillna(df_resampled.mean(), inplace=True)  # Example: Impute with mean for numeric columns

In [20]:
duplicates = df_resampled.duplicated().sum()  # Count duplicates
df_resampled.drop_duplicates(inplace=True)   # Remove duplicates
print(f"Duplicates removed: {duplicates}")

Duplicates removed: 0

In [21]:
# Identify duplicate timestamps
df_resampled = df_resampled.sort_values(by="datatime").reset_index(drop=True)
# Keep only the last occurrence of each duplicate 'datatime'
df_unique = df_resampled[~df_resampled["datatime"].duplicated(keep="last")].reset_index(drop=True)

In [22]:
df_unique.nunique()

datatime         6901
temperature       390
humidity          340
mq2_analog       1134
mq2_digital        11
sound_analog     1223
sound_digital      18
mq9_analog       1704
mq9_digital        20
mq8_analog       1525
mq8_digital        13
pm25_density     2799
pm10_density     3159
dtype: int64

In [23]:
df_unique.to_csv("../data/processed/dht11_preprocessed.csv", index=False)

In [24]:
# Count records with value <= 0 for each column
zero_or_less_count = df_unique.select_dtypes(include=['float', 'int']).apply(lambda x: (x <= 0).sum())

# Display the results
print("Number of records with value <= 0 for each parameter:\n")
print(zero_or_less_count)

Number of records with value <= 0 for each parameter:

temperature       279
humidity          279
mq2_analog        155
mq2_digital        93
sound_analog       10
sound_digital    6221
mq9_analog          0
mq9_digital       360
mq8_analog          2
mq8_digital       148
pm25_density        3
pm10_density        5
dtype: int64

In [25]:
# Count records with value <= 0 for each column
zero_or_less_count = df_unique.select_dtypes(include=['float', 'int']).apply(lambda x: (x < 0).sum())

# Display the results
print("Number of records with value <= 0 for each parameter:\n")
print(zero_or_less_count)

Number of records with value <= 0 for each parameter:

temperature      0
humidity         0
mq2_analog       0
mq2_digital      0
sound_analog     0
sound_digital    0
mq9_analog       0
mq9_digital      0
mq8_analog       0
mq8_digital      0
pm25_density     3
pm10_density     5
dtype: int64

In [26]:
# Filter records with temperature < 0 and either pm25_density or pm10_density < 0
negative_temp_density = df_unique[
    (df_unique['temperature'] < 0)
]

# Display the filtered records
print("Records with temperature < 0 and either pm25_density or pm10_density < 0:")
negative_temp_density.head(60)

Records with temperature < 0 and either pm25_density or pm10_density < 0:

Empty DataFrame
Columns: [datatime, temperature, humidity, mq2_analog, mq2_digital, sound_analog, sound_digital, mq9_analog, mq9_digital, mq8_analog, mq8_digital, pm25_density, pm10_density]
Index: []

In [27]:
from sklearn.preprocessing import StandardScaler

# Select the relevant columns (excluding datetime and any non-numeric columns)
cols_to_scale = ['temperature', 'humidity', 'mq2_analog', 'mq2_digital', 
                 'sound_analog', 'sound_digital', 'mq9_analog', 'mq9_digital', 
                 'mq8_analog', 'mq8_digital', 'pm25_density', 'pm10_density']

# Initialize StandardScaler
scaler = StandardScaler()

# Apply scaling to the selected columns
df_scaled = df_unique[cols_to_scale].copy()
df_scaled[cols_to_scale] = scaler.fit_transform(df_scaled[cols_to_scale])

# Now calculate correlations after scaling
correlation_matrix = df_scaled.corr()

# Display the correlation matrix
correlation_matrix

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
temperature,1.000000,0.542258,0.133558,-0.031323,-0.005342,0.123646,-0.025743,-0.041914,0.111912,-0.014514,0.062701,0.054392
humidity,0.542258,1.000000,-0.093715,0.048697,-0.154031,0.152050,-0.166845,-0.043933,-0.207474,-0.013921,0.234417,-0.001181
mq2_analog,0.133558,-0.093715,1.000000,-0.168663,0.569620,0.236884,0.338515,-0.101251,0.687078,-0.180210,-0.104585,0.072314
mq2_digital,-0.031323,0.048697,-0.168663,1.000000,-0.046026,-0.264738,0.171778,0.299550,0.000946,0.775826,0.248977,0.029329
sound_analog,-0.005342,-0.154031,0.569620,-0.046026,1.000000,-0.443833,0.359864,-0.104073,0.192109,-0.101185,0.078841,0.137401
sound_digital,0.123646,0.152050,0.236884,-0.264738,-0.443833,1.000000,-0.175525,-0.071831,0.333973,-0.197421,-0.165720,-0.142912
mq9_analog,-0.025743,-0.166845,0.338515,0.171778,0.359864,-0.175525,1.000000,-0.183610,0.575101,0.107186,0.070631,0.038501
mq9_digital,-0.041914,-0.043933,-0.101251,0.299550,-0.104073,-0.071831,-0.183610,1.000000,-0.061204,0.234921,-0.081149,-0.130183
mq8_analog,0.111912,-0.207474,0.687078,0.000946,0.192109,0.333973,0.575101,-0.061204,1.000000,0.087542,-0.129563,0.033133
mq8_digital,-0.014514,-0.013921,-0.180210,0.775826,-0.101185,-0.197421,0.107186,0.234921,0.087542,1.000000,0.119606,-0.028969
pm25_density,0.062701,0.234417,-0.104585,0.248977,0.078841,-0.165720,0.070631,-0.081149,-0.129563,0.119606,1.000000,0.629873
pm10_density,0.054392,-0.001181,0.072314,0.029329,0.137401,-0.142912,0.038501,-0.130183,0.033133,-0.028969,0.629873,1.000000

In [28]:
# Filter correlations greater than 0.3 and less than 1.0
high_corr = correlation_matrix.where((correlation_matrix > 0.3) & (correlation_matrix < 1.0))

# Drop NaN values to focus on relevant correlations
high_corr = high_corr.stack().reset_index()

# Rename columns for clarity
high_corr.columns = ["Parameter 1", "Parameter 2", "Correlation"]

# Ensure unique pairs by sorting parameters and dropping duplicates
high_corr["Sorted Pair"] = high_corr[["Parameter 1", "Parameter 2"]].apply(lambda x: tuple(sorted(x)), axis=1)
unique_corr = high_corr.drop_duplicates(subset="Sorted Pair").drop(columns="Sorted Pair")

# Print the unique pairs
print("Unique pairs with correlation greater than 0.3:")
for _, row in unique_corr.iterrows():
    print(f"{row['Parameter 1']} and {row['Parameter 2']}: {row['Correlation']:.2f}")

Unique pairs with correlation greater than 0.3:
temperature and humidity: 0.54
mq2_analog and sound_analog: 0.57
mq2_analog and mq9_analog: 0.34
mq2_analog and mq8_analog: 0.69
mq2_digital and mq8_digital: 0.78
sound_analog and mq9_analog: 0.36
sound_digital and mq8_analog: 0.33
mq9_analog and mq8_analog: 0.58
pm25_density and pm10_density: 0.63

In [29]:
df_unique

,datatime,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
0,2024-04-06 22:39:00,32.3,53.0,147.750000,1.0,187.625000,0.0,141.125000,1.0,205.125000,1.0,240.827500,247.057500
1,2024-04-06 22:40:00,32.3,53.0,147.777778,1.0,187.444444,0.0,142.000000,1.0,205.111111,1.0,241.173333,194.508889
2,2024-04-06 22:41:00,32.3,53.0,148.000000,1.0,188.375000,0.0,142.000000,1.0,205.250000,1.0,236.781250,209.391250
3,2024-04-06 22:42:00,32.3,53.0,147.555556,1.0,187.333333,0.0,141.111111,1.0,204.000000,1.0,241.542222,209.725556
4,2024-04-06 22:43:00,32.3,53.0,147.111111,1.0,186.777778,0.0,140.555556,1.0,203.000000,1.0,239.328889,198.197778
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6896,2024-11-23 13:41:00,33.3,36.0,47.888889,1.0,138.000000,0.0,198.222222,1.0,104.888889,1.0,205.114444,129.666667
6897,2024-11-23 13:42:00,33.3,36.0,47.777778,1.0,137.888889,0.0,198.666667,1.0,104.555556,1.0,224.205556,127.637778
6898,2024-11-23 13:43:00,33.3,36.0,47.222222,1.0,137.333333,0.0,198.222222,1.0,104.777778,1.0,209.448889,129.574444
6899,2024-11-23 13:44:00,33.3,36.0,47.222222,1.0,137.222222,0.0,197.888889,1.0,104.777778,1.0,211.662222,126.254444
6900,2024-11-23 13:45:00,33.3,36.0,47.000000,1.0,137.333333,0.0,198.000000,1.0,104.333333,1.0,210.740000,124.410000